@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Roboto+Condensed:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Quicksand', sans-serif;
  line-height: 1.5;
  /* background: radial-gradient(#280a48, #20043d); */
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

header {
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .header-listing {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 8px;
}

header .header-listing button {
  width: 100px;
  height: 40px;
  background: cornflowerblue;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;

  &:disabled {
    background-color: #797a7b !important;
  }
}

header img {
  height: 5rem;
  width: 10rem;
  object-fit: cover;
}

header h1 {
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 40px;
  color: #000;
  text-align: left;
  /* background: linear-gradient(40deg, #ea00ff, #ea00ff, #03d5ff, #03d5ff); */
  /* -webkit-background-clip: text; */
  /* -webkit-text-fill-color: transparent; */
  /* filter: drop-shadow(0 1px 6px rgba(0, 0, 0, 0.5)); */
}

header .search-input {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 8px;
  border: 1px solid #000;
  width: 240px;
  border-radius: 3px;
  height: 40px;
  padding: 10px;
  cursor: pointer;
}

header .search-input input {
  border: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  &:focus {
    outline: none;
  }
}

header .search-input .seach-icon {
  height: 16px;
  width: 16px;
}

header p {
  margin: 0;
  font-size: 1.25rem;
  color: #8964b0;
  font-family: 'Roboto Condensed', sans-serif;
}

main {
  width: 90%;
  /* height: calc(100vh - 200px); */
  max-width: 80rem;
  margin: 50px auto;
}

#core-concepts {
  padding: 2rem;
  border-radius: 6px;
  background-color: #140524;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
}

main h2 {
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0 0 1.5rem 0;
  color: #a18aba;
}

#core-concepts ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}

#core-concepts li {
  width: 10rem;
  text-align: center;
}

#core-concepts li img {
  height: 4rem;
  width: 6rem;
  object-fit: cover;
}

#core-concepts li h3 {
  margin: 0.5rem 0;
}

#core-concepts li p {
  font-size: 0.9rem;
}

#examples {
  margin: 3rem auto;
}

#examples h2 {
  text-align: left;
}

#examples menu {
  margin: 1rem 0;
  padding: 0;
  display: flex;
  gap: 0.5rem;
  list-style: none;
}

#examples menu button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 6px;
  background-color: transparent;
  color: #a18aba;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

#examples menu button:hover {
  background-color: #1b082f;
  color: #ebe7ef;
}

#examples menu button.active {
  background-color: #7925d3;
  color: #ebe7ef;
}

#tab-content {
  padding: 1rem;
  border-radius: 6px;
  background-color: #2f1d43;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

#tab-content h3 {
  margin: 0;
}

#tab-content code {
  font-size: 1rem;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 16px;
  text-align: left;
}
table tr {
  cursor: pointer;
}

table thead th {
  border: 2px solid black;
  color: black;
  background-color: transparent;
  padding: 10px;
}

table tbody td {
  border: 2px solid black;
  color: black;
  padding: 10px;
}

.button_wrapper {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

td input {
  width: 100%;
}

.image-container button {
  height: 30px;
}
.image-container img {
  width: 100%;
  height: 400px;
}
.visible {
  display: block;
}
.hidden {
  display: none;
}
.main-card {
  margin: 50px;
}
.main-card h1 {
  color: black;
}

.main-card .data-card {
  /* background-color: cornflowerblue; */
  width: 450px;
  /* color: white; */
  border: 1px solid black;
  padding: 20px;
  border-radius: 10px;
}
.main-card .comments-wrapper {
  margin-top: 50px;
}

.main-card .comments-wrapper .comments-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.main-card .comments-wrapper .comments-container .comments {
  /* background-color: darkslateblue; */
  width: 300px;
  border: 1px solid black;
  padding: 20px;
  border-radius: 10px;
}
.error {
  color: red;
}
.main-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 180px);
}
.post-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
}
.comment-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 212px);
}
.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #3e3e3e 94%, #0000) top/8px 8px no-repeat,
    conic-gradient(#0000 30%, #292929);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  animation: l13 1s infinite linear;
}
@keyframes l13 {
  100% {
    transform: rotate(1turn);
  }
}

.back-button {
  border: 1px solid #000;
  height: 40px;
  width: 40px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}
.text-black {
  color: #000;
  width: 20px;
}
.input {
  height: 100px;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  width: 100%;
  padding: 10px;
  resize: none;
}

.button-listing button {
  width: 60px;
  height: 28px;
  background: cornflowerblue;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  &:nth-child(2) {
    background-color: darkslateblue;
  }
}
.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.pagination button {
  width: 100px;
  height: 40px;
  background: cornflowerblue;
  border: none;

  border-radius: 4px;
  color: white;
  cursor: pointer;

  &:disabled {
    background-color: #797a7b !important;
  }
}

.button-loader {
  width: 19px;
  aspect-ratio: 1;
  display: grid;
  border-radius: 50%;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.5) 30%, #0000 0 70%, rgb(255, 255, 255) 0) 50%/8% 100%,
    linear-gradient(90deg, rgba(255, 255, 255, 0.25) 30%, #ffffff00 0 70%, rgba(255, 255, 255, 0.75) 0) 50%/100% 8%;
  background-repeat: no-repeat;
  animation: l23 1s infinite steps(12);
}
.button-loader::before,
.button-loader::after {
  content: '';
  grid-area: 1/1;
  border-radius: 50%;
  background: inherit;
  opacity: 0.915;
  transform: rotate(30deg);
}
.button-loader::after {
  opacity: 0.83;
  transform: rotate(60deg);
}
@keyframes l23 {
  100% {
    transform: rotate(1turn);
  }
}

.create-post header {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.create-post header h1 {
  text-align: center;
  margin-top: 10px;
  font-family: 'Quicksand', sans-serif;
}
.create-post .form-container {
  display: flex;
  justify-content: start;
  align-items: start;
  height: 100%;
  width: 100%;
}
.create-post .form-container form {
  background: aliceblue;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 500px;
  border-radius: 10px;
  width: 100%;
  margin-top: 50px;
}

.create-post .form-container form .input-listing {
  display: flex;
  gap: 10px;
  justify-content: end;
  align-items: start;
  width: 100%;
}

.create-post .form-container form .input-listing button {
  width: 50px;
  margin-top: 30px;
  height: 30px;
}

.create-post .feild {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  gap: 5px;
  width: 100%;
}
.create-post .feild label {
  font-weight: 500;
}
.create-post .feild textarea {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 8px;
  border: 1px solid #000;
  width: 100%;
  border-radius: 3px;
  padding: 10px;
  cursor: pointer;
  resize: none;
  height: 60px;
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
}

.create-post .feild button {
  width: 80px;
  height: 35px;
  margin-top: 10px;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: cornflowerblue;

  &:nth-child(2) {
    background: darkslateblue;
  }
}

.button-listing {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  align-items: center;
}

.create-post form .feild .form-error {
  color: red;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}
